section{
    margin: 0;
    
}
div{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    margin-top: 14%;
    margin-left: 20%;
}
div{
    background: salmon;
    transition: transform 1s;
    transform-origin: bottom left;
}
div:hover{
    transform: scale(2) rotate(90deg);
}